In [1]:
import pandas as pd

In [5]:
# We first load the Cells Geo data frame by using the Read CSV method 

dfcells_geo = pd.read_csv('cells_geo.csv')

dfcells_geo

     ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0     0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1     1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2     2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3     3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4     4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
...                                                 ...
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

[3974 rows x 1 columns]

In [15]:
#We load the dataframe and see how it looks like 
df_telcom_day_1 = pd.read_csv('Telcom_dataset.csv')


df_telcom_day_1

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
4996,sms,100,2012-05-07 00:01:54.0,0,92e367d671f45c5,38811081cf82c90,19e2e,OTHER,0c2371d9bc,1e751d08a4
4997,Voice,1,2012-05-07 00:01:54.0,1,83b44b18238e602,6ec63d4aa5de5dd,19e2e,19e2e,5fb791cf56,65efe2bc62
4998,Voice,0,2012-05-07 00:01:54.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,7773627c12,9ef9616350
4999,Voice,0,2012-05-07 00:01:54.0,0,a1613f1a992716a,bd663f07b6c8bcd,19e2e,19e2e,3f4af49d6c,969b8d0e39
5000,Voice,7,2012-05-07 00:01:54.0,2,1670a5f7c22f4ed,3600efd094f2225,19e2e,19e2e,6f4d9b77a5,ebfc58af70

In [16]:
# We then load the Telcom_dataset2.csv file 

df_telcom_day_2 = pd.read_csv('Telcom_dataset2.csv')

df_telcom_day_2

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO
...,...,...,...,...,...,...,...,...,...,...
4996,sms,0,2012-05-08 00:01:53.0,8,22ffbbb8ac8cde1,8db839a0c08bd54,19e2e,19e2e,896459aace,b7d00e59e4
4997,sms,25,2012-05-08 00:01:53.0,0,bcf512a3542d42c,5a2848d6f983c31,19e2e,19e2e,7e90b35166,211015b14d
4998,sms,0,2012-05-08 00:01:53.0,0,05e3c3d41628a9f,7185a95077eae9e,19e2e,19e2e,fe70e431df,c7ea989264
4999,data,0,2012-05-08 00:01:53.0,_,86a4dbf018f6f24,5a4dc9e82deb309,19e2e,OTHER,ffa6759bb2,NaN
5000,Voice,0,2012-05-08 00:01:53.0,0,a03c9837c62a5b9,de590e98879fa37,19e2e,19e2e,8630058aca,b47a998a3e